{{!-- Footer partial --}}
<footer>
    <div class="topnav">
        <div class="copyright">
             <div class="container">
                News Source: 
            </div>
        </div>
    </div>
</footer>