{{!-- Footer partial --}}
<br>
<br>
<hr>
<footer>
    <div class="copyright">
            <div class="container">
            <srtong>News Source: <a href ="https://www.npr.org/sections/world/ "> <img class="" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d7/National_Public_Radio_logo.svg/1200px-National_Public_Radio_logo.svg.png" style="width:150px;height:50px"> </a> World News </srtong>
            <p><a href="https://github.com/Nyleesia/NewsScraperApp"> Nyleesia Nicome Schnarr || 2019</a></p>
        </div>
    </div>
</footer>