<div  class="container-wrap-wrap" id="allArticles">

    {{#each article}}
        <hr>
        <div class="card" id="articleCard">
            <div class="card-header">
                <h3 class="card-title">{{this.title}}</h3>
            </div>
            <hr>
            <div class="card-body">
                <div class="media"> 
                    <div class="media-body">
                        <h6 class="mt-0 mb-1">{{this.teaser}}</h6>
                    </div>
                        <img src="{{this.img}}" class="ml-3" alt="No Image" onerror="this.src='https://1.bp.blogspot.com/-Wra-8gs62ks/WVUqCvyteFI/AAAAAAAAHAk/ZBjQ7ukNoF88i_KO05hTbN3tnuVlyFkNwCLcBGAs/s1600/npr_news_icon.png';" style="width:200px; height:200px"></img>
                </div>   
                <br>
                <div>
                    {{!-- <span>
                        <i class="far fa-bookmark btn text-info" id="bookmark"></i>
                    </span> --}}
                    <span>
                       <div><a href="{{this.link}}" class="btn btn-primary"><h4>Read Full Article from:<img class="" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d7/National_Public_Radio_logo.svg/1200px-National_Public_Radio_logo.svg.png" style="width:150px;height:50px">WORLD NEWS</h4></a></div>
                    </span>
                </div>
            </div>
        </div>

        {{/each}}

</div>
       

<script>

 $("#scrape").click(function(){
        $.ajax({
            type: "GET",
            url: "/scrape"
        }).then( () => {
            document.location.reload();
        }).catch({
            if (err){
                console.log (err);
            }
        })
    });


    $("#clear").click(function(){
        let Retrieve = (`<button class = "btn btn-warning" id = "retrieve" href = "/articles"> Retrieve Articles </button>`)
        $("#allArticles").empty();
        $("#clear").replaceWith(`${Retrieve}`);
    });

    $(Retrieve).click(function(){
        let Retrieve = (`<button class = "btn btn-warning" id = "retrieve" href = "/articles"> Retrieve Articles </button>`)
        $("#allArticles").empty();
        $("#Retrieve").replaceWith("#clear");
    });

    
    $("#delete").click(function(){
        $.ajax({
            type: "GET",
            url: "/deleteAll"
        }).then( () => {
            document.location.reload();
        }).catch({
            if (err){
                console.log (err);
            }
        })
    });
   
</script>
       